@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  height: auto;
  width: auto;
}

body {
  font-family: "Rubik", Helvetica, sans-serif;
  min-height: 100vh;
  font-size: 18px;
  background-color: white;
}

.navbar-header {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 100%;
}

.navbar-toggler {
  right: 15px;
  margin: 0 auto;
  position: fixed;
}

.bar-icon {
  color: #252b46;
}

.navbar-collapse {
  justify-content: flex-end;
  align-items: center;
}

.navbar-nav {
  align-items: center;
  margin-right: 15px;
}

.navbar-nav li :hover {
  color: #fa5757;
}

.navbar-nav li a {
  color: #252b46;
  list-style: none;
  text-decoration: none;
  font-size: 16.2px;
  font-family: "Rubik", Helvetica, sans-serif;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
}

.login-btn {
  font-size: "Rubik";
  font-weight: 500;
  padding: 10px 20px;
  border: 0;
  background-color: #fa5757;
  color: white;
  margin-right: 55px;
  padding: 5px 25px;
}

.login-btn:hover {
  background-color: white;
  color: #252b46;
  border: 1px solid #fa5757;
  color: #fa5757;
}

.login-btn-modal {
  padding: 5px 25px;
  background-color: #252b46;
  color: white;
  border: 1px solid white;
  width: 100%;
  margin-bottom: 160px;
}

.modal-wrapper {
  display: none;
}

.modal-wrapper.show {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #252b46;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

@media (min-width: 1024px) {
  .modal-wrapper.show {
    flex-direction: row;
    justify-content: space-between;
  }
}

.modal-wrapper.show .logo img {
  cursor: pointer;
  color: white;
}

.modal-wrapper.show .modal-nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.modal-wrapper.show .modal-menu ul,
.modal-wrapper.show .modal-menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  align-items: center;
}

.modal-wrapper.show .modal-menu ul li,
.modal-wrapper.show .modal-menu li {
  list-style: none;
  text-decoration: none;
  font-size: 16.2px;
  font-family: "Rubik", Helvetica, sans-serif;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-wrapper.show .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  cursor: pointer;
}

.shape {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30%;
  right: 0;
  background-color: #5368df;
  z-index: -100;
}

.hero-wrapper {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .hero-wrapper {
    flex-direction: row-reverse;
  }
}

.hero-image,
.features-image {
  width: 100%;
}

.hero-text-wrapper {
  margin-top: 60px;
}

.hero-text-wrapper h1 {
  font-size: 36px;
  color: #252b46;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 40px;
  margin: 40px auto;
}

@media (min-width: 768px) {
  .hero-text-wrapper h1 {
    margin-right: 10px;
  }
}

.hero-text-wrapper p {
  color: #9194a1;
}

.btn-get-chrome {
  font-size: "Rubik";
  font-weight: 500;
  padding: 10px 20px;
  border: 0;
  background-color: #5368df;
  color: white;
}

.btn-get-chrome:hover {
  background-color: white;
  color: #252b46;
  border: 1px solid #5368df;
  color: #5368df;
}

.btn-get-firefox {
  font-size: "Rubik";
  font-weight: 500;
  padding: 10px 20px;
  border: 0;
  background-color: #9194a1;
  color: white;
  box-shadow: -1px -1px 20px #e0dbdb, 5px 5px 15px #e0dbdb;
  outline: none;
  margin: 5px;
}

.btn-get-firefox:hover {
  background-color: white;
  color: #252b46;
  border: 1px solid #9194a1;
  color: #9194a1;
}

.feature-header {
  margin-top: 60px;
  font-size: 32.4px;
  color: #252b46;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.simple-tab.hide,
.speedy-tab.hide,
.easy-tab.hide {
  display: none;
}

.bookmark-wrapper {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .bookmark-wrapper {
    flex-direction: row;
  }
}

.bookmark-text-wrapper {
  margin-top: 60px;
}

.bookmark-text-wrapper p {
  text-align: center;
  margin-bottom: 30px;
}

.bookmark-text-wrapper .button-wrapper {
  display: none;
}

@media (min-width: 1024px) {
  .bookmark-text-wrapper {
    margin: 60px 0 0 100px;
  }
  .bookmark-text-wrapper p {
    margin-top: 30px;
    text-align: left;
  }
  .bookmark-text-wrapper .button-wrapper {
    display: block;
  }
}

.tab-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #252b46;
  list-style: none;
  text-decoration: none;
  font-size: 16.2px;
  font-family: "Rubik", Helvetica, sans-serif;
  font-weight: 400;
  padding: 20px;
  cursor: pointer;
}

.tab-list li:hover {
  color: #fa5757;
}

@media (min-width: 1024px) {
  .tab-list {
    flex-direction: row;
  }
}

hr {
  border: 2px solid #9194a1;
}

.card-wrapper {
  margin-top: 30px;
  display: inline;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

@media (min-width: 1024px) {
  .card-wrapper {
    flex-direction: row;
    display: flex;
  }
  .card-wrapper .card-opera {
    align-self: flex-end;
  }
  .card-wrapper .card-firefox {
    align-self: center;
  }
  .card-wrapper .card-chrome {
    align-self: flex-start;
  }
}

.card {
  width: 19rem;
  height: 20rem;
  margin: 10px auto;
  box-shadow: -1px -1px 20px #d4d1d1, 5px 5px 15px #d4d1d1;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.card .card-body img {
  margin: 20px;
  width: 50%;
}

.card .dots {
  width: 90%;
}

.card .cards-button-wrapper {
  margin: 30px;
}

.question-header {
  margin-top: 90px;
}

.accordion-header button:hover {
  color: #fa5757;
}

.accordion-button {
  color: #252b46;
  font-size: 16.2px;
  font-weight: 400;
}

.accordion-button .accordion-button:after {
  color: #fa5757;
}

.accordion-body {
  color: #9194a1;
  font-size: 18px;
  align-items: center;
}

.btn-more-info {
  font-size: "Rubik";
  font-weight: 500;
  padding: 10px 20px;
  border: 0;
  background-color: #5368df;
  color: white;
  margin-top: 20px;
}

.btn-more-info:hover {
  background-color: white;
  color: #252b46;
  border: 1px solid #5368df;
  color: #5368df;
}

.contact-wrapper {
  background-color: #5368df;
  color: white;
  margin-top: 60px;
  padding: 40px;
}

.contact-wrapper .contact-text-wrapper {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
  margin-bottom: 20px;
  color: white;
}

.contact-wrapper .contact-text-wrapper .join {
  font-size: 12.6px;
  margin-bottom: 20px;
}

.contact-area {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .contact-area {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
}

.contact-area form {
  height: 40px;
  width: 100%;
  margin: 15px;
}

@media (min-width: 1024px) {
  .contact-area form {
    width: 60%;
  }
}

.contact-area form input:invalid {
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right;
  right: 0;
}

.contact-area .contact-btn {
  margin: 15px;
  font-size: "Rubik";
  font-weight: 500;
  padding: 10px 20px;
  border: 0;
  background-color: #fa5757;
  color: white;
  width: 100%;
}

.contact-area .contact-btn:hover {
  background-color: white;
  color: #252b46;
  border: 1px solid #fa5757;
  color: #fa5757;
}

@media (min-width: 1024px) {
  .contact-area .contact-btn {
    width: 31%;
    float: right;
    margin-right: 10px;
  }
}

#response {
  display: none;
}

#response.show {
  background-color: #fa5757;
  font-size: 12.6px;
  display: flex;
  align-self: flex-start;
  padding: 3px;
  width: 100%;
  border-radius: 3px;
}

.footer {
  background-color: #252b46;
  color: white;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

@media (min-width: 1024px) {
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer-wrapper .logo img {
  cursor: pointer;
  color: white;
}

.footer-wrapper .footer-menu ul {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .footer-wrapper .footer-menu ul {
    flex-direction: row;
    margin: 0;
  }
}

.footer-wrapper .footer-menu ul li {
  list-style: none;
  text-decoration: none;
  font-size: 16.2px;
  font-family: "Rubik", Helvetica, sans-serif;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-wrapper .footer-menu ul li:hover {
  color: #fa5757;
}

.footer-wrapper .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  cursor: pointer;
}

.footer-wrapper .social-media img:hover {
  background-color: #fa5757;
}
